.main {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
    background-color: darkslategray;
}

h1{
    font-size: 5rem;
}

p{
    font-size: 2rem;
}

ul{
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
}

li{
    font-size: 2rem;
    color: bisque;
    background-color: cadetblue;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

li:hover{
    background-color: aquamarine;
}

li a, a:visited{
    padding: 20px;
    color: oldlace;
	text-decoration: underline;
}

li a:hover{
    color: darkslategrey;
}

