
body{
	background-color:cadetblue;
}
.first {
	background-color: lightgreen;
}

.second {
	background-color: peachpuff;
}


.title {
	margin: 0;
	padding: 15px;
	font-weight: normal;
	font-size: 20px;
}


.lead {
	margin: 0;
	padding: 15px;
	padding-block-start: 0;
	line-height: 1.4;
}

.topnav {
	background-color:cadetblue;
	padding: 20px;
}

.topnav h1{
	padding-right: 20px;
	font-size: 2rem;
	display: inline;
}

.topnav a, a:visited{
	font-size: 2rem;
	padding: 20px;
	color: oldlace;
	text-decoration: none;
}

.topnav a:hover{
	background-color: aquamarine;
	color: darkslategrey;
}

p, h1, h2, h3, h4{
	color: whitesmoke;
	font-family: 'Times New Roman', Times, serif;
}


