
.first {
	background-color: lightgreen;
}

.second {
	background-color: peachpuff;
}


.title {
	margin: 0;
	padding: 15px;
	font-weight: normal;
	font-size: 20px;
}


.lead {
	margin: 0;
	padding: 15px;
	padding-block-start: 0;
	line-height: 1.4;
}

.topnav {
	background-color: lightblue;
	padding: 20px;
}

.topnav h1{
	font-size: 2rem;
	display: inline;
}

.topnav a{
	font-size: 2rem;
	padding: 50px;
}
